<html>
	<head>
		<title>Blá Broker</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="stylesheets/style.css">
	</head>
	<body>
		<div class="header">
			<div class="headerMsg">Blá Broker</div>
			<div class="linkHeader"><a href="http://localhost:10000/login">Login</a></div>
			<div class="linkHeader1"><a href="http://localhost:10000/cadastro">Cadastro</a></div>
		</div>
	</body>
</html>